a{
  outline:none
}

/* this is to overide the video carousel buttons */


.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color:black;
}



.footer{
  /* background-color: rgba(53, 134, 171, 0.55); */
  height: 15vh;
}

.banner {
  background-image: url("https://antipodes-band-bucket.storage.googleapis.com/antipodes3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 66.233766233766234vw;
  /* max-height: 100vh; */

  display: grid !important;
  
}

.banner-text-container{
  color: white;
  align-self: center;
  justify-self: center;
  width: 90%;
}
.banner-text-container h1 {
  font-size: 6rem;

}

.menu .item {
  color: black !important;
  font-size: 1.2rem;

  
}

.icon {
  font-size: 1.5rem !important;
}

.menu_bar {
  /* background-color: white !important; */
background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)) !important;
border: none !important;
}

 .item .active {
  font-size: 10rem !important;
}


/* hamburger menu styles */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 5rem;
  height: 3rem;
  background-color: white;
  right: 0px;
  top: 3rem;
  display: grid;
  align-content: center !important;
  border-radius:  18px 0 0 18px;


}
.bm-burger-button .icon {
  font-size: 2rem !important;
  color: #3585AB;



}

.bm-cross-button {

  top: 3.5rem !important;
  right: 1.5rem !important;
}
/* Color/shape of close button cross */
.bm-cross {

  color: white;
  font-size: 2rem!important;

}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #3585AB;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  margin-top: 3rem;
  padding: 0.8em;

}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  font-size: 1.8rem !important;
  margin-top: 1.5rem !important;
}

.bm-item:hover {
  color: rgb(148, 148, 148);
  cursor: pointer;
}





/* Styling of overlay */
.bm-overlay {
  color: #DCDCDC;;
}



.quote-box {
  display:grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.quote.right {
  justify-self: flex-end;
}