/* this is to overide the video carousel buttons */
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color:black;
}



.footer{
  /* background-color: rgba(53, 134, 171, 0.55); */
  height: 15vh;
}

.banner {
  background-image: url("https://antipodes-band-bucket.storage.googleapis.com/antipodes3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 66.233766233766234vw;
  /* max-height: 100vh; */

  display: grid !important;
  
}

.banner-text-container{
  color: white;
  align-self: center;
  justify-self: center;
  width: 90%;
}
.banner-text-container h1 {
  font-size: 6rem;

}

.menu .item {
  color: black !important;
  font-size: 1.2rem;

  
}

.icon {
  font-size: 1.5rem !important;
}

.menu_bar {
  /* background-color: rgba(0, 0, 0, 0.6) !important; */
background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)) !important;
border: none !important;
}

 .item .active {
  font-size: 10rem !important;
}


